<h2>Log In</h2>

<form action="<%= session_url %>" method="post">

  <label>
    Username
    <input type="text" name="user[username]" value="">
  </label>
  <br>
  <label>
    Password
    <input type="password" name="user[password]" value="">
  </label>
  <br>
  <input type="submit" name="" value="Log In">

</form>