.nav {
  display: flex;
  flex-direction: row;
  justify-content: left;
  border: 1px solid blue;
}

.logo {
  height: 50px;
  width: 50px;
}

.active {
  font-weight: bold;
}

.pending {
  color: pink;
  font-style: italic;
}