/* AutoComplete */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  list-style: none;
}

.auto{
  color: white;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  width: 191px;
  height: 200px;
  border: 2px solid black;
  margin: 0 20px 20px 20px;
  padding: 10px;
  background-color: violet;
  background-image: url(https://hd.unsplash.com/6/blurred_lines.jpeg);
  background-size: cover;
  background-position: center;
}

.auto > *{
  margin-left: 30px;
}

.auto > input{
  margin: 10px 30px 0 30px;
  border: 1px solid black;
}

.auto li{
  cursor: pointer;
  list-style-type: square;
}

.auto-enter {
  opacity: 0.01;
  transform: translateY(500%);
}

.auto-enter.auto-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 700ms ease-in, transform 700ms ease-in;
}

.auto-leave {
  opacity: 1;
  transform: translateY(0);
}

.auto-leave.auto-leave-active {
  opacity: 0.01;
  transform: translateY(500%);
  transition: opacity 700ms ease-in, transform 700ms ease-in;
}

/* Clock */

.clock{
  font-size: 28px;
  color: white;
  font-family: Orbitron;
  width: 550px;
  height: 94px;
  border: 2px solid black;
  margin: 0 20px 20px 20px;
  padding: 10px;
  background-color: orange;
  background-image: url(https://hd.unsplash.com/photo-1445109673451-c511bb51bd17);
  background-size: cover;
  background-position-y: 20%;
}

.clock p{
  margin: 12px;
  display: flex;
  justify-content: space-between;
}

/* Weather */

.weather{
  font-size: 28px;
  width: 550px;
  height: 94px;
  border: 2px solid black;
  margin: 0 20px 20px 20px;
  padding: 10px;
  text-align: center;
  background-color: lightgreen;
  background-image: url(https://hd.unsplash.com/photo-1429479196389-7d1afeaa2d21);
  background-size: cover;
  background-position-y: 20%;
}

.weather p{
  margin: 8px;
}

.loading{
  margin-top: 30px;
}

/* Tabs */

.tab-header{
  width: 200px;
  height: 30px;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
}

.tab-header > li{
  width: 65px;
  border-top: 2px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 4px;
  text-align: center;
  cursor: pointer;
  background-color: lightpink;
}

.tab-header > li:first-child{
  border-left: 2px solid black;
}

.tab-header > li:last-child{
  border-right: 2px solid black;
}

.tab-header > li:hover{
  background-color: black;
  color: white;
}

.active{
  font-weight: bold;
}

.tabs{
  width: 240px;
  height: 200px;
}

.tab-content{
  font-weight: bold;
  color: white;
  height: 192px;
  margin: 0 20px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  background-image: url(https://hd.unsplash.com/photo-1445112098124-3e76dd67983c);
  background-size: cover;
}

.tab-content article{
  text-align: center;
}

body{
  display: flex;
  justify-content: space-around;
}

.interactive{
  display: flex;
  justify-content: space-around;
}

.clock-toggle {
  margin: 0px 30px 20px 30px;
  padding: 5px;
  background-color: lightcyan;
  border-radius: 3px;
  border: 1px solid black;
}