<br>
<a href="<%= users_url %>">Users Index</a>

<h1>Chirps Index Page</h1>
<a href="<%= new_chirp_url %>">Create a Chirp</a>
<br>
<% @chirps.each do |chirp| %>
    <br>
    <%= chirp.body %>
<% end %>
