.pond {
    // display: flex;
    // flex-direction: column-reverse;
    // justify-content: space-between;
    // align-items: center;
}

.frog {
}

.frog-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.frogs-left {
    display: flex;
}