<h2>Login, welcome back</h2>

<form action="<%=session_url%>" method="post">
    <input type="text" name="user[username]" >
    <br/>
    <input type="password" name="user[password]" id="" value="">
    <br/>
    <input type="submit" value="login"/>
</form>