.blocks{
    background-color: blue;
    border: 3px solid navy;
    height: 200px;
    width: 200px;
    display: inline-block;

}

span{
    color: red;
    font-size: 25px;
    margin-right: 300px;
    margin-left: 300px;
}

.grid-item{
   background-color: blue;
   border: 5px solid white;
   /* height: 100px; */
}

.container{
    display: grid;
    /* grid-template-columns: repeat(4, 100px) ; */
    grid-template-columns: 2fr 1fr 1fr;
    /* grid-template-rows: 200px; */
    grid-auto-rows: minmax(100px, auto);
    grid-column-gap: 30px;
    grid-row-gap: 50px;



}


.flex-parent{
    border: 5px solid black;
    height:500px;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.flex-item{
    background-color: pink;
    border: 2px solid red;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-box{
    background-color: rgb(86, 86, 157);
    border: 1px solid rgb(13, 13, 160);
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow-box{
    background: yellow;
    height: 40px;
    width: 40px;

}




nav{
    width: 100vw;
    height: 5vh;
    background-color: rgb(148, 89, 89);
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-family: arial;
}
/* (arg1 arg2 arg3 asd) */

.nav-left{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    padding-left: 5px;

}

.nav-right{
    /* background-color: tomato; */
    display: flex;
    align-items: center;
    padding-right: 5px;
}