
div {
  /* display: block; default prop of div */
  /* height: 100px; */
  /* width: 300px; */
  border: 1px solid green;
  background: pink;
}

section div {
  background: turquoise;
  width: 300px;
  /* height: 400px; */
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
}


section div:first-child {
  border-radius: 50%;
  height: 300px;
}

span {
  /* display: inline; default prop for span */
  /* display: block; */
  background: cornflowerblue;
  /* height: 400px; */
  /* width: 400px; */
  /* margin-top: 50px; */
  /* margin-bottom: 50px; */
}


.inline-block-demo {
  display: inline-block;
  background: orange;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 40px;
  width: 100px;
}