<h1>Sign In!</h1>


<form action="<%=session_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <label for="username">Username</label>
  <input type="text" id="username" name="user[username]" value="<%= %>">

  <br>


  <label>Password:
  <input type="password" name="user[password]" value="">
  </label>

  <br>

  <input type="submit" value="Sign In">


</form>