<section class="page"><div class="centered-box">
    <h1>Sign in</h1>

      <%= render "shared/errors" %>

    <form action="<%= session_url %>" method="post">
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">

      <label for="user_username">User Name</label>
      <input type="text" name="user[username]" id="user_username">
      <br>

      <label for="user_password">Password</label>
      <input type="password" name="user[password]" id="user_password">
      <br>

      <input type="submit">
    </form>
</div></section>
