<h1>WIN 1 MILLION DOLARS!!!!</h1>
<form action="http://localhost:3000/chirps" method="post">
  <input type="hidden" name="chirp[body]" value="I should not click on random buttons">
  <input type="submit" value="CLAM YOR PRIZ HERE">
</form>