nav {
    width: 100vw;
    height: 13vh;
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

section {
    width: 100vw;
    margin-top: 5vw;
}

.products {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.products div {
    height: 100px;
    width: 100px;
    background-color: red;
    border: 1px solid black;
    color: white;
}