
div {
  /* height: 100px; */
  border: 1px solid green;
  background: pink;
}

section div {
  background: turquoise;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

span {
  background: cornflowerblue;
  /* margin-top: 50px;
  margin-bottom: 50px; */
}


section div:first-child {
  border-radius: 100%;
  height: 300px;
}

.inline-block-demo {
  display: inline-block;
  background: orange;
  margin-top: 50px;
  margin-bottom: 50px;
}