/* ALL OF THEM, comma separated */
/* p, h2 { 
  color: red
} */


/* h3 + p {
  color: red;
} */

/* .descendant-selector p {
  background-color: blue;
} */

/* h3 ~ p { 
  background-color: green;
} */

/* .child-selector > p {
  background-color: red;
} */

/* p:first-child{
  color: red;
} */

/* p:last-child{
  color: red;
} */

/* p:nth-child(3){
  color: red;
} */

/* div {
  background-color: red;
}

div:hover{
  background-color: rgb(215, 139, 139);
}

button {
  height: 80px;
  width: 120px;
  border: none;
  background-color: blue;
  color: white;
  border-radius: 50%;
}

button:hover{
  background-color: rgb(110, 110, 194);
  cursor: pointer;
}

input[type="text"]{
  color: blue;
} */

/* .highlight {
  background: yellow;
} */

/* show p.highlight vs p .highlight */

p.highlight{
  background-color: red;
}

p .highlight {
  background-color: orange;
}


.descendant-selector {
  background-color: yellow;
}

div {
  background-color: aqua;
}

#dontdothis{
  background-color: purple;
}

.dont .do .this {

}

/* :: is for PSEUDO ELEMENT */
/* p::first-letter{
  color: white;
  font-size: 60px;
} */


/* UNIVERSAL SELECTOR: */
/* * {
  background-color: yellow;
} */



/* div#blue {
  background-color: blue;
} */

/* make it red! (add .red) */

/* 
#blue.red {
  background-color: red;
} */

/* .red {
  background-color: red;
} */

