<h2>Login</h2>

<form action="<%= session_url %>" method="post">
  <label>Username:
    <input type="text" name="user[username]" value="<%= @user.username %>">
  </label>
  <br>
  <label>Password:
    <input type="password" name="user[password]" value="">
  </label>
  <br>
  <input type="submit" value="Login">
</form>