<h2>Login!</h2>

<form action="<%= session_url %>" method="POST">
    <input type="text" name="user[username]">
    <input type="password" name="user[password]" id="">
    <button>Submit</button>
</form>