header {
  display: none;
}

.pool {
  background-image: url("pool.jpg");
  background-size: cover;
  margin: 0;
  border: 20px solid gray;
}

body {
  margin: 0;
}


img {
  opacity: 0.9;
}


.flamingo{
  float: left;
  clear: left;
}

.donut {
  float: left;
  clear: left;
}

.duck {
  float: right;
  clear: left;
} 
.pineapple {
  float: right;
  clear: right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
