<h2>Login!</h2>

<form action="<%= session_url %>" method="POST">
    <%= auth_token %>
    <input type="text" name="user[username]" placeholder='username'>
    <input type="password" name="user[password]" id="" placeholder='password'>
    <button>Submit</button>
</form>