body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    /* height: 60px; */
    background-color: beige;
    display: flex;
    justify-content: space-between;
    font-size: 50px;
    color: teal;
    width: 100%;
    position: fixed;
}

main {
    padding-top: 60px;
    background-color: pink;
    height: 1500px;
}

footer {
    background-color: maroon;
    height: 200px;
}

.menu {
    width: 500px;
}

.menu:hover {
    cursor: pointer;
    background-color: rgb(199, 199, 175);
}

.menu-items {
    display: none;
    width: 500px;
    position: absolute;
}


.menu:hover .menu-items{
    display: block;
    cursor: pointer;
}

.menu-items li:hover{
    background-color: gray;
}