@import "variables";

.pokedex {
  display: flex;
  flex-direction: row-reverse;
  padding: 0;
  height: 100%;
  background-color: white;

  > ul {
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    overflow: scroll;
    border: 6px solid black;
    border-radius: 20px;
    margin-left: 40px;

    > li {
      a {
        display: block;
      }

      &:active {
        background-color: $red;
      }
    }
  }
}

.pokemon-index-item {
  padding: 5px 10px;
  border-bottom: 1px solid $grey;
  cursor: pointer;

  &:hover {
    background-color: $light-grey;
  }

  img {
    width: 20px;
    margin: 0 10px;
    vertical-align: middle;
  }

  a {
    text-decoration: none;
    color: black;

    &:active {
      background-color: $red;
    }
  }
}

.pokemon-index-item:first-of-type {
  border-top: 1px solid grey;
}

.pokemon-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  position: relative;
  border-radius: 20px;
  border: 6px solid black;
  margin: 0 40px;
  padding: 20px;
  overflow: scroll;
  background-color: $light-grey;

  figure {
    border: 4px solid black;
    border-radius: 8px;
    width: 80%;
    padding: 20px;
    max-height: 400px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(315deg, $red, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(315deg, $red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(315deg, $red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(315deg, $red, yellow); /* Standard syntax */

    img {
      width: 100%;
      max-height: 380px;
    }
  }

  ul {
    text-align: center;

    li {
      font-size: 20px;
      padding: 10px 0;
      color: $black;
    }
  }

  .error {
    color: $red;
    font-size: 12px;
    font-style: bold;
  }
}

.pokemon-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  overflow: scroll;

  input, select, button {
    margin: 20px 0;
    background: none;
    border: 0;
    border-radius: 0px;
    -webkit-appearance: none;
    font-size: 16px;
    border-bottom: 1px solid $black;
  }

  button {
    background: $red;
    color: white;
    font-weight: bold;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    margin: 0;
  }

  select {
    cursor: pointer;
  }
}

.toys {
  margin-top: 25px;
  padding: 10px;
  border: 4px solid black;
  border-radius: 8px;
  background-color:#F6F6F6;
  background-image:
    radial-gradient(circle at 100% 150%, #F6F6F6 24%, white 25%, white 28%, #F6F6F6 29%, #F6F6F6 36%, white 36%, white 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, #F6F6F6 24%, white 25%, white 28%, #F6F6F6 29%, #F6F6F6 36%, white 36%, white 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, white 10%, #F6F6F6 11%, #F6F6F6 23%, white 24%, white 30%, #F6F6F6 31%, #F6F6F6 43%, white 44%, white 50%, #F6F6F6 51%, #F6F6F6 63%, white 64%, white 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, white 5%, #F6F6F6 6%, #F6F6F6 15%, white 16%, white 20%, #F6F6F6 21%, #F6F6F6 30%, white 31%, white 35%, #F6F6F6 36%, #F6F6F6 45%, white 46%, white 49%, transparent 50%, transparent),
    radial-gradient(circle at 0    50%, white 5%, #F6F6F6 6%, #F6F6F6 15%, white 16%, white 20%, #F6F6F6 21%, #F6F6F6 30%, white 31%, white 35%, #F6F6F6 36%, #F6F6F6 45%, white 46%, white 49%, transparent 50%, transparent);
  background-size:100px 50px;
}

.toy-list {
  display: flex;
  flex-wrap: wrap;
  border: 4px solid black;
  border-radius: 8px;
  background-color: white;

  li {
    margin: 15px;
    flex: 1;

    img {
      cursor: pointer;
      transition: all 0.2s ease;
      width: 100%;

      &:hover {
        box-shadow: 1px 1px 5px black;
        -webkit-filter: sepia(50%);
      }
    }
  }
}
