/* TODO Add site wide styles */
.active {
  color: cyan;
  font-weight: 700;
}

.link {
  cursor: pointer;
  text-decoration: none;
}


.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .close-x {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
} */