Sign In
<form action="<%= session_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="">Username
    <input type="text" name="user[username]" value="<%=  %>">
  </label>

  <label for="">Password
    <input type="password" name="user[password]" value="<%=  %>">
  </label>

  <input type="submit" value="Sign In">
</form>