<h2>Users Index</h2>

<% @users.each do |user| %>
  <%= render 'user', user: user, action: :index %>
  <!-- <a href="<%= user_url(user) %>">inspect</a> -->
<% end %>

<a href="<%= new_user_url %>">create a new user</a>