  
.box-model {
  width: 200px;
  height: 145px;
  border: 4px solid green;
  background: pink;
  padding: 63px;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-right: 0px;
  margin-left: 14px;
  /* margin: 120px 0px 0px 50px ; */
}


/* .border-box {
  box-sizing: border-box;
  width: 500px;
} */
