.yellow{
    background-color: yellow;
}

.large{
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.loud{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
}

/* .hidden{
    display: none;
}

.active{
    alksjdf;
} */

#parent{
    height: 350px;
    width: 350px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.children{
    height: 50px;
    width: 50px;
    background-color: pink;
    border: 1px solid red;
    margin: 20px;
}

#grand-parent{
    background-color: aqua;
    border: 1px solid black;
    height: 600px;
    width: 600px;
}