Sign Up
<form action="<%= users_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="">Username
    <input type="text" name="user[username]" value="<%= @user.username %>">
  </label>

  <label for="">Password
    <input type="password" name="user[password]" value="<%= @user.password %>">
  </label>

  <input type="submit" value="Sign Up">
</form>