<h1>Here are all of our users!</h1>

<a href="<%= new_user_url %>">Go to New User Form</a>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= render 'user', banana: user, action: :index %>
    </li>
  <% end %>
</ul>