<h1>Here is our user show page!</h1>

<a href="<%= edit_user_url(@user) %>">Edit user</a>

<%= render 'user', user: @user, action: :show %>

<form action="<%= user_url(@user) %>" method="DELETE">
  <input type="submit" value="Delete User">
</form>