<h1>Sign In</h1>

<form action="<%= session_url %>" method="POST" class="session-form">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    
    <label > Username:
        <input type="text" name="user[username]" value="<%= @user.username %>">
    </label>
    <br>
    <label > Password:
        <input type="password" name="user[password]" value="<%= @user.password %>">
    </label>

    <input type="submit" value="Sign In">

</form>