<h1>User show page</h1>

<%# <a href="/users">User Index Page</a> %>
<a href="<%= users_url %>">User Index Page</a>
<br>
<a href="<%= edit_user_url(@user) %>">Go To Edit User Page</a>
<%= render 'partial', banana: @user %>
<br>

<form action="<%= user_url(@user) %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete User">
</form>