Sign In

<form action="<%= session_url %>" method="POST">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<label>Username: 
<input type="text" name="users[username]" value=" <%= @user.username %>">
</label>
<label>Password: 
<input type="password" name="users[password]" value="">
</label>
<input type="submit" value="Sign In">
</form>