body {
    font-family: Arial, Helvetica, sans-serif;
}
  
header {
    background-color: beige;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 5px 10px;
    font-size: 30px;
    color: teal;
    position: sticky;
    top: 0px;
    height: 5vh;
    width: 98vw;
}

main {
    background-color: pink;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img{
    padding: 10px;
}

footer {
    background-color: maroon;
    height: 50px;
}

.menu-items {
    width: 300px;
    background-color: beige;
    display: none;
    position: absolute;
    right: 0px;
}

.menu {
    position: relative;
}

.menu:hover .menu-items {
    display: block;
    /* display: flex;
    flex-direction: column;
    align-items: flex-end; */
}

li:hover{
    background-color: gray;
    cursor: pointer;
}
