<h1>Giphy Lite</h1>
<h2 class="messages"></h2>
<section class="gif-forms">
  <form id="new-gif-form">
    <label>Fetch a new GIF:
      <br />
      <input type="submit" value="Generate GIF" />
    </label>
  </form>
  <form id="old-gif-form">
    <label>Get a saved GIF by title:
      <br />
      <input id="old-gif-query" type="text" />
    </label>
    <input type="submit" value="Retreive GIF" />
  </form>
</section>
<button class="clear">Clear GIF</button>
<div class="gif-display">
</div>
<form id="save-gif-form">
  <label>Enter a title to save this GIF:
    <br />
    <input id="save-gif-title" type="text" />
  </label>
  <input type="submit" value="Save GIF" />
</form>
