/* block demo */

.block-one {
  background: coral;
  /* margin: auto; */
}

.block-two {
  background: cornflowerblue;
}


.block-three {
  background: pink;
  /* margin: 10px; */
}

.block-four {
  background: powderblue;
  /* margin: 50px; */
}

[class*="block"] {
  height: 100px;
  width: 200px;
}


/* inline demo */

/* Note that inline can not have h or w */
.inline-one {
  background: red;
  height: 300px;
  width: 200px;
}

.inline-two {
  background: orange;
}

.inline-three {
  background: yellow;
}
.inline-four {
  background: green;
}
.inline-five {
  background: blue;
}
.inline-six {
  background: purple;
}
.inline-note {
  background: lightgray;
}

[class*="inline"] {
  font-size: 36px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  margin: 10px;
}


/* inline-block demo */

[class*="inline-block"] {
  display: inline-block;
}
.inline-block-one {
  background: coral;
}

.inline-block-two {
  background: cornflowerblue;
}


/* flex demo */

.flexed {
  display: flex;
  height: 200px;
  background: lightslategray;
  /* demonstrate in dev tools */
}