.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.session-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.session-links > * {
  padding-right: 5px;
}