.modal-background {
  height: 100vh;
  width: 100vw;
  background-color: rgba(25,25,25,.5);
  padding: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
}

.modal-content {
  height: 50vh;
  width: 50vw;
  position: absolute;
  top: 25vh;
  left: 25vw;
  background-color: white;
  border: 1px solid;
}