<h1>Login Page</h1>

<form action="<%= session_url %>" method="POST">
    <label>Username
        <input type="text" name="user[username]" value="<%= @user.username %>">
    </label>

    <label>Password
        <input type="password" name="user[password]" value="">
    </label>

    <input type="submit" value="Login">
</form>