.pool {
  background-image: url("pool.jpg");
  background-size: cover;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  border: 20px solid gray;
}

.flamingo-donut-container{
  display: flex;
  /* justify-content works along main axis */
  justify-content: center; 
  /* align-items works along cross axis */
  align-items: center;
  height: 1000px;
  background-color: blue;
  /* flex-direction sets main axis */
  flex-direction: row;
}
