<h2>Create New Chirp</h2>

  <form action="<%=chirps_url%>" method="post">

    <label>
      Chirp
      <input type="text" name="chirp" value="<%=chirp.body%>">
    </label>
    <br>
    <input type="submit" name="" value="Create New Chirp">

  </form>