body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: beige;
  height: 50px;
  display: flex;
  justify-content: space-between;
  font-size: 50px;
  color: teal;
  position: fixed;
  width: 100%;
}

main {
  background-color: pink;
  height: 1500px;
}

footer {
  background-color: maroon;
  height: 200px;
}

.menu {
  width: 500px;
}

.menu-items {
  display: none;
}

.menu:hover .menu-items {
  display: block;
}

li:hover {
  background-color: gray;
}