<!-- 
<form action="<%# users_url %>" method="POST">
    <label> Username
        <input type="text" name="user[username]" value="<%# @user.username %>" />
    </label>
    <br/>
    <label> Email
        <input type="text" name="user[email]" value="<%# @user.email %>" />
    </label>
    <br/>
    <label> Age
        <input type="text" name="user[age]" value="<%# @user.age %>" />
    </label>
    <br/>

    <input type="submit" value="CREATE USER!" />
</form>
-->

<%= render "form", user: @user, action: :new, fruit: "casava", veg: :broc %>