<h1>Welcome!</h1>

<form action="<%= users_url %>" method="POST">
    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">
    <label>Username:
        <input name ="user[username]" value="<%= @user.username %>">
    </label>
    <label>Password:
        <input name ="user[password]" value="<%= @user.password %>">
    </label>
    <button type="submit">Sign Up</button>
</form>