<%# we need to build the login page! %>

<h2>Login!</h2>

<form action="<%= session_url %>" method="POST">

    <label for="">Username:
        <input type="text" name="user[username]">
    </label>


    <label for="">Password:
        <input type="password" name="user[password]" id="">
    
    </label>

    <button>Submit!</button>

</form>