  
.box-model {
    width: 300px;
    height: 100px;
    padding: 20px;
    margin: 50px;
    border: 1px solid black;
    /* border-radius: 3%; */
    background: pink;
  }
  
  .border-box {
    box-sizing: border-box;
    width: 500px;
  }
  
  
  .line-br {
    border: 1px solid black;
    width: 300px;
    margin-left: 50px;
    /* margin-top: 20px; */
  }

  